.git
.vs
.github
**/bin
**/obj
**/node_modules
**/dist
Application.Client/.angular
Application.Client/.cache
Application.Client/.vscode
Application.Web/bin
Application.Web/obj
Application.Test/bin
Application.Test/obj
Application.Domain/bin
Application.Domain/obj
Application.Infrastructure/bin
Application.Infrastructure/obj
Application.Service/bin
Application.Service/obj
*.user
*.suo
*.log
