<header class="navbar-container">
  <div class="brand" (click)="navigateTo('/home')">
    <span class="logo">{{ 'navbar.logo' | translate }}</span>
    <span class="title">{{ 'navbar.title' | translate }}</span>
  </div>
  <nav class="navbar">
    <a routerLink="/home">{{ 'navbar.home' | translate }}</a>
    <a routerLink="/profile">{{ 'navbar.profile' | translate }}</a>
    <a *ngIf="canManageUsers" routerLink="/admin">{{ 'navbar.admin' | translate }}</a>
    <button class="link" (click)="toggleTheme()">{{ 'navbar.theme' | translate }}</button>
    <button class="link" (click)="logOut()">{{ 'navbar.logout' | translate }}</button>
  </nav>
</header>
